.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBlock{
    background-color: aqua;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px
}

.mainBlock h1{
    margin-bottom: 20px;
    font-size: 25px;
    color: white
}

.main-info{
    display: flex;
    justify-content: space-around;
}